# Python
*.pyc
__pycache__/
env/
venv/
*.sqlite3
*.log

# Node & React
node_modules/
frontend/build/

# Build artifacts
build/
dist/
release.zip

# Django
staticfiles/

# IDE/editor
.vscode/
.DS_Store
.idea/